/* Custom Styles */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

body {
  background-color: #ffffff  !important; /* Light grey background */
  font-family: 'Mukta', sans-serif; /* Mukta font for the whole body */
}
.navbar-brand img {
  height: 50px; /* Adjust based on the height of your navbar */
  width: 50px;
  border-radius: 50%;
  margin-left: 10px; /* Add some spacing between the text and the image */
}

.profile-picture {
  height: 100%;  /* Takes the full height of the navbar */
  width: auto;   /* Automatically adjusts the width to maintain the aspect ratio */
  border-radius: 50%;
  object-fit: cover;
}

.navbar {
  border-radius: 0;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-brand {
  font-weight: bold; /* Make the navbar brand bold */
  font-size: 24px; /* Adjust the font size */
}

.navbar-toggler-icon {
  font-size: 16px; /* Adjust the hamburger menu icon size */
}

.navbar-nav .nav-item {
  position: relative; /* Position relative for the pseudo-element */
}

.navbar-nav .nav-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; /* Adjust the position of the line */
  width: 0;
  height: 2px; /* Height of the line */
  background-color: black; /* Color of the line */
  transition: width 0.3s ease; /* Transition effect for width */
}

.navbar-nav .nav-item:hover::after {
  width: 100%; /* Expand the line on hover */
}

/* Style for the "About" link */
.navbar-nav .nav-item:nth-child(1) .nav-link {
  color: black; /* Make the text color black */
}

.navbar-nav .nav-item:nth-child(1) .nav-link::after {
  width: 100%; /* Ensure the underline is full width */
}

/* Responsive font size */
@media (max-width: 768px) {
  .navbar-nav .nav-link {
    font-size: 16px; /* Decrease font size for smaller screens */
  }
}

 /* Custom styles for the image container */
 .image-container {
  margin-top: 60px; /* Adjust the margin to position below the navbar */
  margin-left: 20px; /* Add a slight margin on the left */
  margin-right: 20px; /* Add a slight margin on the right */
}



  /* Custom styles for the columns */
  .text-column {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.video-column {
    padding: 20px;
    border-radius: 40px; /* Rounded corners */
    overflow: hidden; /* Hide overflowing content */
  }



  /*MUSICCC*/
  .main {
    background-color: white;
    padding: 1em;
    padding-bottom: 1.1em;
    border-radius: 15px;
    margin: 1em;
  }
  
  .loader {
    display: flex;
    flex-direction: row;
    height: 4em;
    padding-left: 1em;
    padding-right: 1em;
    transform: rotate(180deg);
    justify-content: right;
    border-radius: 10px;
    transition: .4s ease-in-out;
  }
  
  .loader:hover {
    cursor: pointer;
    background-color: rgb(244, 244, 244);
  }
  
  .currentplaying {
    display: flex;
    margin: 1em;
  }
  
  .spotify {
    width: 50px;
    height: 50px;
    margin-right: 0.6em;
  }
  
  .heading {
    color: black;
    font-size: 1.1em;
    font-weight: bold;
    align-self: center;
  }
  
  .loading {
    display: flex;
    margin-top: 1em;
    margin-left: 0.3em;
  }
  
  .load {
    width: 2px;
    height: 33px;
    background-color: limegreen;
    animation: 1s move6 infinite;
    border-radius: 5px;
    margin: 0.1em;
  }
  
  .load:nth-child(1) {
    animation-delay: 0.2s;
  }
  
  .load:nth-child(2) {
    animation-delay: 0.4s;
  }
  
  .load:nth-child(3) {
    animation-delay: 0.6s;
  }
  
  .play {
    position: relative;
    left: 0.35em;
    height: 1.6em;
    width: 1.6em;
    clip-path: polygon(50% 50%, 100% 50%, 75% 6.6%);
    background-color: black;
    transform: rotate(-90deg);
    align-self: center;
    margin-top: 0.7em;
    justify-self: center;
  }

  .albumcover {
    position: relative;
    margin-right: 1em;
    height: 40px;
    width: 40px;
    background-color: rgb(233, 232, 232);
    align-self: center;
    border-radius: 5px;
    background-image: url('./assets/hoziertalk.jpg');
    background-size: cover;
    background-position: center;
  }
  

  .albumcovertwo {
    position: relative;
    margin-right: 1em;
    height: 40px;
    width: 40px;
    background-color: rgb(233, 232, 232);
    align-self: center;
    border-radius: 5px;
    background-image: url('./assets/metalica.jpeg');
    background-size: cover;
    background-position: center;
  }

  .albumcoverthree {
    position: relative;
    margin-right: 1em;
    height: 40px;
    width: 40px;
    background-color: rgb(233, 232, 232);
    align-self: center;
    border-radius: 5px;
    background-image: url('./assets/colind.jpg');
    background-size: cover;
    background-position: center;
  }
  

  
  .song {
    position: relative;
    transform: rotate(180deg);
    margin-right: 1em;
    color: black;
    align-self: center;
  }
  
  .artist {
    font-size: 0.6em;
  }
  
  @keyframes move6 {
    0% {
      height: 0.2em;
    }
  
    25% {
      height: 0.7em;
    }
  
    50% {
      height: 1.5em;
    }
  
    100% {
      height: 0.2em;
    }
  }



  /*video*/
  video {
    pointer-events: none;
}

.video-wrapper video, 
.video-wrapper .instagram-media {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
}
.video-wrapper video, 
.video-wrapper .instagram-media {
  width: 80%;
  border-radius: 6px;
}

@media (max-width: 768px) {
  .video-wrapper {
      padding: 5px;
  }
}


h2 {
  margin-top: 40px; /* Adjust the value as needed */
  size: 2.3em;
}

.name{
  padding: 0 0;
  margin: 0 0;
  margin-top: 10px;
}


/* cool text*/ 
.wrapper * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  --index: calc(1vw + 1vh);
  --transition: cubic-bezier(.1, .7, 0, 1);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.wrapper .items {
  display: flex;
  gap: 0.4rem;
  perspective: calc(var(--index) * 35);
}

.wrapper .item {
  width: calc(var(--index) * 3);
  height: calc(var(--index) * 12);
  background-color: #222;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  filter: grayscale(1) brightness(.5);
  transition: transform 1.25s var(--transition), filter 3s var(--transition), width 1.25s var(--transition);
  will-change: transform, filter, rotateY, width;
}

.wrapper .item::before, .wrapper .item::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 20px;
  right: calc(var(--index) * -1);
}

.wrapper .item::after {
  left: calc(var(--index) * -1);
}

.wrapper .items .item:hover {
  filter: inherit;
  transform: translateZ(calc(var(--index) * 10));
}

/* Right */
.wrapper .items .item:hover + * {
  filter: inherit;
  transform: translateZ(calc(var(--index) * 8.5)) rotateY(35deg);
  z-index: -1;
}

.wrapper .items .item:hover + * + * {
  filter: inherit;
  transform: translateZ(calc(var(--index) * 5.6)) rotateY(40deg);
  z-index: -2;
}

.wrapper .items .item:hover + * + * + * {
  filter: inherit;
  transform: translateZ(calc(var(--index) * 2.5)) rotateY(30deg);
  z-index: -3;
}

.wrapper .items .item:hover + * + * + * + * {
  filter: inherit;
  transform: translateZ(calc(var(--index) * .6)) rotateY(15deg);
  z-index: -4;
}

/* Left */
.wrapper .items .item:has( + :hover) {
  filter: inherit;
  transform: translateZ(calc(var(--index) * 8.5)) rotateY(-35deg);
}

.wrapper .items .item:has( + * + :hover) {
  filter: inherit;
  transform: translateZ(calc(var(--index) * 5.6)) rotateY(-40deg);
}

.wrapper .items .item:has( + * + * + :hover) {
  filter: inherit;
  transform: translateZ(calc(var(--index) * 2.5)) rotateY(-30deg);
}

.wrapper .items .item:has( + * + * + * + :hover) {
  filter: inherit;
  transform: translateZ(calc(var(--index) * .6)) rotateY(-15deg);
}

.wrapper .items .item:active, .wrapper .items .item:focus {
  width: 28vw;
  filter: inherit;
  z-index: 100;
  transform: translateZ(calc(var(--index) * 10));
  margin: 0 .45vw;
}

@media screen and (max-width: 768px) {
  .item:nth-child(n+7) {
    display: none;
  }
  .wrapper{
    height: 20vh;

  }
}