
/* Custom Styles */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

body {
  background-color: hsl(0, 0%, 100%) !important; /* Light grey background */
  font-family: 'Mukta', sans-serif; /* Mukta font for the whole body */
}


.firstpage{
    margin-top: 100px;
    height: 500px;
}


.profile-ccl1 {
  border-radius: 100%;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 30vw; /* Adjusted size of the circle to make it larger */
  height: 30vw; /* Adjusted size of the circle to make it larger */
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin: auto; /* Center the circle */
}

.profile-ccl1:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.profile-image1 {
  width: 100%;
  height: 100%;
  background-image: url('./assets/secondprofilepicture.jpeg'); /* Update with your image path */
  background-size: cover;
  background-position: center;
}

h3 {
  padding-top: 40px;

  padding-bottom: 20px;
  padding-left: 14%;
}

.custom-iframe {
  border: none;
  margin: 0;
  padding: 0;
  display: block; /* Ensures the iframe behaves as a block-level element */
}



.white-side-section {
  background-color: #FFFBF4;
  color: rgb(0, 0, 0);
  position: relative;
  overflow: hidden;
  padding: 50px 20px;
  text-align: center;
  z-index: 0;
}


.white-side-title {
  font-size: 2.2em;
  margin-bottom: 20px;
  z-index: 2; /* Ensure the circle is behind the text */
  color: #211414;
}

.white-side-paragraph {
  font-size: 1.1em;
  margin: 0 auto;
  max-width: 800px;
  z-index: 2; /* Ensure the circle is behind the text */
  text-align: justify;
  padding-bottom: 40px;
  color: #211414;
}
