/* Custom Styles */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

body {
  background-color: #fffbf4; /* Light grey background */
  overflow-x: hidden;
  font-family: 'Mukta', sans-serif; /* Mukta font for the whole body */
}

body {
  overflow-x: hidden !important;
  width: 100% !important;;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
       box-sizing: border-box !important;
}

@media screen {
  body {
    overflow-x: hidden !important;
    width: 100% !important;;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
         box-sizing: border-box !important;
  }
}

@media screen {
  body {
    overflow-x: hidden !important;
    width: 100% !important;
    -webkit-text-size-adjust: 100%; /* Prevent text resizing in iOS Safari */
    text-size-adjust: 100%;
  }
}

@media screen and (max-width: 700) {
  .body-gallery {
    display: none !important;
  }
}














.navbar {
  border-radius: 0;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-brand {
  font-weight: bold; /* Make the navbar brand bold */
  font-size: 24px; /* Adjust the font size */
}

.navbar-toggler-icon {
  font-size: 16px; /* Adjust the hamburger menu icon size */
}

.navbar-nav .nav-link {
  font-weight: normal; /* Reset font weight for nav links */
  font-size: 18px; /* Adjust the font size */
}

/* Responsive font size */
@media (max-width: 768px) {
  .navbar-nav .nav-link {
    font-size: 16px; /* Decrease font size for smaller screens */
  }
}

.navbar.transparent .navbar-brand,
.navbar.transparent .navbar-nav .nav-link {
  color: white !important;
}

.navbar.transparent .navbar-nav .nav-link {
  font-weight: bold; /* Make nav links bold when text is white */
}

.navbar-nav .nav-link {
  position: relative; /* Position relative for the pseudo-element */
}

.navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; /* Adjust the position of the line */
  width: 0;
  height: 2px; /* Height of the line */
  background-color: black; /* Color of the line */
  transition: width 0.3s ease; /* Transition effect for width */
}

.navbar-nav .nav-link:hover::after {
  width: 100%; /* Expand the line on hover */
}


/* Transparent Navbar */
.navbar.transparent {
  background-color: transparent !important;
  color: white;
}

.navbar.transparent a.navbar-brand,
.navbar.transparent .navbar-nav .nav-link {
  color: white !important;
}


.card {
  color: black;
  border-radius: 20px; /* Rounded corners for cards */
  border: 2px solid black; /* Black border */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Slight shadow */
}

.card-link .card-body {
  color: black; /* Set text color to black */
}

.card-img-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-img-top1 {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}


.rounded-circle {
  border-radius: 50%;
}

/* Additional Styles */
#projects .card {
  flex: 1; /* Distribute remaining space equally */
  margin: 0 auto; /* Center cards horizontally */
}

#projects .row {
  justify-content: center; /* Center the row content */
}

.card-img-top {
  width: 100%; /* Ensures the image fits the width of the container */
  height: 350px; /* Set the height you want for the image */
  object-fit: cover; /* Ensures the image covers the container without distortion */
  object-position: center; /* Centers the image within the container */
}


.card-img-top {
  width: 100%; /* Ensures the image fits the width of the container */
  object-fit: cover; /* Ensures the image covers the container without distortion */
  object-position: center; /* Centers the image within the container */
}



/* Hover Effect */
.card:hover {
  border: 2px solid white; /* White border on hover */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Larger shadow on hover */
  transform: scale(1.05); /* Slightly bigger on hover */
}

/* Shake Animation */
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-8px); }
  20%, 40%, 60%, 80% { transform: translateX(8px); }
}

.card:active {
  animation: shake 1.2s cubic-bezier(.36,.07,.19,.97); /* Adjusted duration and timing function */
}



/* Custom Styles */
.description-text {
  font-size: 14px; /* Set the description text size */
}

/* Responsive font size for description text */
@media (max-width: 576px) {
  .description-text {
    font-size: 12px; /* Decrease font size for smaller screens */
  }
}

/* Custom Styles */
.description-text {
  font-size: 14px; /* Set the description text size */
}

/* Responsive font size for description text */
@media (max-width: 576px) {
  .description-text {
    font-size: 12px; /* Decrease font size for smaller screens */
  }
}


.custom-rounded-circle {
  border-radius: 50%;
  transition: transform 0.3s, box-shadow 0.3s; /* Added transition */
}

.custom-rounded-circle:hover {
  transform: scale(1.1); /* Increase size on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add shadow on hover */
}


/* Custom CSS */
.custom-rounded-circle {
  width: 200px; /* Increased size of the circle */
  height: 200px; /* Increased size of the circle */
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.circle-image {
  width: 100%;
  height: 100%;
  background-image: url('./assets/profilepicture.jpg');
  background-size: cover;
  background-position: center;
}

/*video*/
.about-me-video-container {
  position: relative;
  overflow: hidden;
  padding: 0; /* Set padding to 0 */
  margin: 0;
  border-radius: 20px; /* Rounded corners for cards */
  border: 2px solid black; /* Black border */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Slight shadow */
}

.about-me-video-container:hover {
  border: 2px solid white; /* White border on hover */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Larger shadow on hover */
  transform: scale(1.05); /* Slightly bigger on hover */
}

.about-me-video-container video {
  width: 100%;
  height: auto;
  border-radius: 10px; /* Rounded corners for the video */
  outline: none; /* Remove outline when focused */
}

.about-me-video-container video::-webkit-media-controls {
  display: none; /* Hide default video controls in Webkit browsers */
}

.about-me-video-container video::-webkit-media-controls-enclosure {
  display: none; /* Hide default video controls in Webkit browsers */
}

.text-center-about{
  margin: 30px;
  
}
.about-me{
  background-color: #000 !important;
  
}


/* cool card*/

.card1 {
  width: 300px;
  height: 150px;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  border-radius: 8px;
  color: white;
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
  transform: translate3d(7%, -2%, 0px) scale3d(0.9, 0.8, 1) rotateX(15deg)
    rotateY(-9deg) rotateZ(32deg);
}

.card1-content {
  padding: 10px; /* Adjust the padding here */
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.card1-content .card1-title {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
}

.card1-content .card1-para {
  color: inherit;
  opacity: 0.8;
  font-size: 14px;
}

.card1:hover {
  transform: rotateY(0) rotateX(0) scale(1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.card1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 1;
}

.card1:hover:before {
  transform: translateX(-100%);
}

.card1:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 1;
}

.card1:hover:after {
  transform: translateX(100%);
}

.card-para{
  align: center;
  padding: 10 10;
}



@media (max-width: 480px) {
  .card {
    width: 90%; /* Full width on very small screens */
    margin: 5px auto; /* Less margin for smaller screens */
  }

  .card-img-top {
    height: 300px; /* Further adjust image height */
  }
}

/* Additional Styles to Maintain Layout */
@media (max-width: 768px) {
  .card {
    width: 80%; /* Slightly larger width for tablets */
    margin: 15px auto; /* Center the cards and add some margin */
  }
  
}


/*gallery*/
/* Body gallery */
.body-gallery {
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #010101;
  padding-top: 10vh; /* Default padding-top */
  padding-bottom: 20vh; /* Default padding-bottom */
}

/* Responsive adjustments for smaller screens */


.responsive-padding {
  color: white;
  padding-top: 10px; /* Default padding-top */
  padding-bottom: 20px !important; /* Default padding-bottom */
}

@media (max-width: 768px) {
  .body-gallery {
    display: none !important;
  }
}


@media only screen and (min-width: 1200px) {
  .body-gallery {
    margin: 0;
    height: 200vh;
    display: grid;
    place-items: center;
    background-color: #010101;
    padding-top: 10vh; /* Default padding-top */
    padding-bottom: 60vh; /* Default padding-bottom */
  }
}
  

.gallery {
  position: relative;
  width: 600px; /* Original larger width */
  height: 600px; /* Original larger height */
  transform-style: preserve-3d;
  animation: rotate 35s linear infinite;
}

@keyframes rotate {
  from {
    transform: perspective(1200px) rotateY(0deg);
  }
  to {
    transform: perspective(1200px) rotateY(360deg);
  }
}

.gallery span {
  margin-top: 30px;
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(380px); /* Original larger distance */
}

.gallery span img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Body gallery */
.body-gallery {
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #010101;
  padding-top: 10vh; /* Less padding above */
  padding-bottom: 20vh; /* More padding below */
  margin-bottom: 30px;
}

.gallery {
  position: relative;
  width: 300px; /* Original larger width */
  height: 300px; /* Original larger height */
  transform-style: preserve-3d;
  animation: rotate 35s linear infinite;
}

@keyframes rotate {
  from {
    transform: perspective(1200px) rotateY(0deg);
  }
  to {
    transform: perspective(1200px) rotateY(360deg);
  }
}

.gallery span {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(380px); /* Original larger distance */
}

.gallery span img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.responsive-padding {
  color: white;
  padding-top: 1px;
  margin-bottom: 40px;
}








.shiningimages-container {
  margin: 0;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  min-height: 30vh;
  flex-direction: column; /* Stack the shiningimg-containers vertically */
}

.shiningimg-container {
  display: flex;
  flex-direction: column; /* Arrange images vertically */
  align-items: center; /* Center-align images horizontally */
  gap: 20px; /* Add some vertical space between images */
  margin-bottom: 10px;
}

.shiningimg {
  --a: 8deg; /* control the angle of rotation (the smaller, the better) */
  width: 200px;
  height: 200px; /* Ensure the image container is square */
  border-radius: 20px;
  transform: perspective(400px) rotate3d(var(--r, 1, -1), 0, calc(var(--i, 1) * var(--a)));
  -webkit-mask: linear-gradient(135deg, #000c 40%, #000, #000c 60%) 100% 100% / 250% 250%;
  transition: 0.4s;
  cursor: pointer;
  overflow: hidden; /* Crop the image to the container */
}

.shiningimg img {
  width: 100%;
  opacity: 0.9; /* Adjust the opacity for better visibility */
  height: 100%;
  object-fit: cover; /* Ensure the image fits the container and is cropped if necessary */
}

.shiningimg.alt {
  --r: 1, 1;
  -webkit-mask: linear-gradient(45deg, #000c 40%, #000, #000c 60%) 0 100% / 250% 250%;
}

.shiningimg:hover {
  --i: -1;
  -webkit-mask-position: 0 0;
}

.shiningimg.alt:hover {
  -webkit-mask-position: 100% 0;
}



.shiningimage-container {
  margin: 0;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  flex-direction: column; /* Stack the shiningimg-containers vertically */
}

.shiningimage-container {
  display: flex;
  flex-direction: column; /* Arrange images vertically */
  align-items: center; /* Center-align images horizontally */
  gap: 20px; /* Add some vertical space between images */
  margin-bottom: 10px;
}

.shiningimage {
  --a: 8deg; /* control the angle of rotation (the smaller, the better) */
  width: 300px;
  height: 300px; /* Ensure the image container is square */
  border-radius: 20px;
  transform: perspective(400px) rotate3d(var(--r, 1, -1), 0, calc(var(--i, 1) * var(--a)));
  -webkit-mask: linear-gradient(135deg, #000c 40%, #000, #000c 60%) 100% 100% / 250% 250%;
  transition: 0.4s;
  cursor: pointer;
  overflow: hidden; /* Crop the image to the container */
}

.shiningimage img {
  width: 100%;
  opacity: 0.9; /* Adjust the opacity for better visibility */
  height: 100%;
  object-fit: cover; /* Ensure the image fits the container and is cropped if necessary */
}

.shiningimage.alt {
  --r: 1, 1;
  -webkit-mask: linear-gradient(45deg, #000c 40%, #000, #000c 60%) 0 100% / 250% 250%;
}

.shiningimage:hover {
  --i: -1;
  -webkit-mask-position: 0 0;
}

.shiningimage.alt:hover {
  -webkit-mask-position: 100% 0;
}



.aboutmecontainer{
  display: flex;
  justify-content: center;
  margin: 0px;
  margin-bottom: 0px;
}

.aboutmecontainer img {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  .aboutmecontainer img {
      max-width: 100% !important; /* Adjust as necessary */
      height: auto;
    }
}

@media (min-width: 1400px) {
  .aboutmecontainer img {
      max-width: 100%; /* Adjust as necessary */
  }
}


.p1 {
  font-size: 16px !important;
  padding-bottom: 20px;
}



:root {
	--dark: #252A2E;
	--light: #F5F5F5;
	--background: var(--light);
	--text: var(--dark);
	--border: var(--dark);
}
@media (prefers-color-scheme: dark) {
	:root {
		--background: var(--dark);
		--text: var(--light);
		--border: var(--light);
	}
}
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/*	BASIC STYLING FOR THE DEMO */


/*	CURRENT MAX WIDTH IS JUST FOR DEMO PURPOSES */
.tag-scrollers {
	width: 100%;
  margin-left: 15%;
	max-width: 70%;
	overflow: hidden;
  margin-bottom: 3%;
}

/*	POSSIBLY UPDATE COLORS IN THE GRADIENT
		TO MATCH THE PROJECTS DESIGN SYSTEM
*/
.tag-scroller {
	display: grid;
	gap: 1.5rem;
	mask: linear-gradient(90deg, #0000, var(--background) 15%, var(--background) 85%, #0000);
}

.tag-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	/*	IF THE GAP IS CHANGED, DON'T FORGET TO CHANGE 
			THE TRANSFORM VALUE IN THE SCROLL ANIMATION
			AT THE END OF THE STYLING
	*/
	gap: 1.5rem;
}

/*	IF THE USERS PREFERS REDUCED MOTION
		PRESENT THEM WITH A HOROZONTAL LIST
		OF ALL ELEMENTS AND GIVE THEM THE
		OPTION TO MANUALLY SCROLL BY SWIPING
*/
@media (prefers-reduced-motion) {
	.tag-list {
		flex-flow: row nowrap;
		overflow: auto;
		scrollbar-width: none;
		scrollbar-color: transparent transparent;
	}
	.tag-list::-webkit-scrollbar-track {
		background: transparent;
	}
	.tag-list::-webkit-scrollbar-thumb {
		background: transparent;
	}
	.tag-list::-webkit-scrollbar {
		display: none;
		width: 0;
		height: 0;
	}
}

/*	BASIC STYLING OF THE LIST ITEMS
		FOR DEMO PURPOSES. MOST PROPERTIES
		SHOULD BE KEPT AS IS BUT PROBABLY
		UPDATE THE VALUE FOR font-family
		AND border
*/
.tag-list li {
	font-family: system-ui;
	font-size: 1.125rem;
	line-height: 1;
	padding: 0.625rem 1.375rem;
	border: 2px solid var(--border);
	border-radius: 10ch;
	white-space: nowrap;
}



li:hover .tag-list {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Larger shadow on hover */
  transform: scale(1.05); /* Slightly bigger on hover */
}

/*	THE DURATION IS SET FROM A CUSTOM PROPERTY
		CALCULATED IN THE SCRIPT AS IT'S ONLY NEEDED
		IF THE ANIMATION SHOULD RUN, WHICH IS ALSO
		CHECKED BY THE SCRIPT

		THE DIRECTION IS SET TO normal AS DEFULT
		AND THEN SET TO reverse	FOR EVERY OTHER SCROLLER
*/
.tag-scroller.scrolling .tag-list {
	width: max-content;
	flex-wrap: nowrap;
	animation: horizontal-scroll var(--duration) var(--direction, normal) linear infinite;
}

.tag-scroller.scrolling .tag-list:nth-child(even) {
	--direction: reverse;
}


@keyframes horizontal-scroll {
	to {
		/*	0.75rem FOR HALF THE GAP
				OF THE .tag-scroller
		*/
		transform: translateX(calc(-50% - .75rem));
	}
}

.custom-iframe {

  border: none;  /* Remove border if you don't want it */
  padding: 0 0 !important;
  margin: 0 0 !important;
}

